<h1>RequireJS</h1>
<p>RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node. Using a modular script loader like RequireJS will improve the speed and quality of your code.</p>
<oj-button id="ojet" on-oj-action='[[buttonClick]]'>Oracle JET</oj-button>
<oj-button id="jquery" on-oj-action='[[buttonClick]]'>jQuery</oj-button>
<oj-button id="knockout" on-oj-action='[[buttonClick]]'>Knockout</oj-button>